<h1>Plaatsen beheren</h1>
<!-- ---------------------------------   -->
<!-- TOVOEGEN EN BEWEKREN VAN EEN PLAATS -->
<!-- ---------------------------------   -->

<div *ngIf="popupNewPlaats" class="section">
  <div class="popup ">
    <button class="buttonremove" (click)="closePopups()"><i class="material-icons">
      clear
    </i></button>
    <h1 *ngIf="plaats.plaatsID == 0">Maak een plaats aan</h1>
    <h1 *ngIf="plaats.plaatsID != 0">Bewerken van een plaats</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="naam">naam: </label>
        <input type="text" class="form-control" id="naam"
               placeholder="Vul een naam in"
               [(ngModel)]="plaats.naam" name="naam" required>
      </div>
      <div class="form-group">
        <label for="xcord" >x coordinaat: </label>
        <input type="number"  class="form-control" id="xcord"
               placeholder="Vul een x coordinaat in"
               [(ngModel)]="plaats.xcord" name="xcord" required></div>
      <div class="form-group">
        <label for="ycord" >y coordinaat: </label>
        <input type="number" class="form-control" id="ycord"
               placeholder="Vul een y coordinaat in"
               [(ngModel)]="plaats.ycord" name="ycord" required>
      </div>
      <br/>
      <button *ngIf="plaats.plaatsID == 0" type="submit" class="btn submitKnop ">Toevoegen</button>
      <button *ngIf="plaats.plaatsID != 0" type="submit" class="btn btn-primary submitKnop">Updaten</button>
      <button *ngIf="plaats.plaatsID != 0" (click)="closePopups()" class="btn btn-primary submitKnop">Annuleren</button>
    </form>
  </div>
</div>


<div class="section">
  <button class="buttonadd" (click)="OpenNewPlaatsForm()"><i class="material-icons ">
    add
  </i></button>


  <!-- ------------------------ -->
  <!-- OVERZICHT MET ALLE PLAATSEN -->
  <!-- ------------------------ -->
  <div style="height: 430px; overflow: auto;">
    <table class="table" mat-table>
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAAM</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plaats of plaatsen">
        <td scope="row">{{plaats.plaatsID}}</td>
        <td>{{plaats.naam}}</td>
        <td>{{plaats.xcord}}</td>
        <td>{{plaats.ycord}}</td>
        <td>

          <button type="button" class="" (click)="OpenEditPlaatsForm(plaats.plaatsID)"><i
            class="material-icons"> create
          </i></button>
          <button type="button" class="" (click)="deletePlaatsAlert(plaats)"><i
            class="material-icons">
            delete_forever
          </i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




