/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}



input {



  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea:focus, input:focus{
  outline: none;
}


