<nav >
  <mat-sidenav-container class="custom-sidenav-container volScherm">
    <mat-sidenav mode="side" opened="true" >
      <mat-nav-list>
        <a mat-list-item routerLink="/Login" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a mat-list-item routerLink="/Dashboard" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a>
        <a mat-list-item routerLink="/Meldingen" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
        >Meldingen</a>
        <a mat-list-item routerLink="/Live_chart" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Live chart</a>
        <a mat-list-item routerLink="/Logout" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>


      </router-outlet>



    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>
