<!-- <svg height="100" width="100" class="blink">
    <circle cx="50" cy="50" r="10" fill="red" />
    Sorry, your browser does not support inline SVG.
</svg>  -->

<div  id="canvas" class="centered" ></div>

<button id="StartSimulation" onclick="(move())" (click)="AddMelding()">Start simulation</button>

<!-- 
<div style="display: block">
<canvas mdbChart
  [chartType]="chartType"
  [datasets]="chartDatasets"
  [labels]="chartLabels"
  [colors]="chartColors"
  [options]="chartOptions"
  [legend]="true"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
</canvas>
</div> -->