
.table {
  width: 100%;

}

th  {
  text-align: left;

}

td{
  border-bottom: 1px solid #ddd;
}
button{
  background-color: #F1B90B;
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
  margin: 1px ;
  cursor: pointer;
  border-radius: 3px;
}


input, select  {
  margin: 5px;

}



