<h4 class="pt-3">Filter maanden</h4>
<!--<mat-form-field>-->
<!--  <mat-label></mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option *ngFor="let label of barChartLabels" [value]="label.value">-->
<!--      {{label}}-->
<!--    </mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->

<form action="jaarForm" (ngSubmit)="update()">
  <input type="text" [(ngModel)]="jaar" name="jaarInput">
  <br>
  <button type="submit" class="btn btn-info">Zoek jaartal</button>
</form>


<div>
    <div >
      <div>
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType" class="section">
        </canvas >
      </div>

    </div>
  </div>
