/* You can add global styles to this file, and also import other style files */



body{
  padding: 0;

  font-family: DINPro, Geneva, sans-serif;
  background-color: #F3F3F3;
  margin-left: 250px;
}
