

<div *ngIf="!nav.visible">

<div class="home section">

  <img src="../../assets/Images/logo_no_background.png" width="300px" alt="Logo" >
  <div class="md-form">
    <div>
    <label  class="">Username: </label>
    <input type="text" class="form-control">
    </div>

    <div>
    <label  class="">Password: </label>
    <input type="password"  class="form-control">
    </div>

    <button (click)="DoorgaanAlsGuest()">Login</button>
    <button (click)="DoorgaanAlsAdmin()">Sign Up</button>
  </div>




  <button (click)="DoorgaanAlsGuest()">Doogaan als guest</button>
  <button (click)="DoorgaanAlsAdmin()">Doogaan als Admin</button>

</div>

<div *ngIf="nav.visible"></div>
