<div *ngIf="!nav.visible">

  <div class="home section">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img src="../../assets/Images/logo_no_background.png" width="300px" alt="Logo">
      <div class="md-form">
        <div>
          <label for="inputUsernameLogin" class="">Username: </label>
          <input id="inputUsernameLogin" formControlName="Usernaam" type="text" class="form-control"
                 placeholder="Enter username">
        </div>

        <div>
          <label for="inputPasswordLogin" class="">Password: </label>
          <input id="inputPasswordLogin" type="password" placeholder="Password" formControlName="Wachtwoord"
                 class="form-control">
        </div>

        <button (click)="onSubmit()">Login</button>
      </div>
    </form>
  </div>

  <div *ngIf="nav.visible"></div>
</div>
