<h1>Types beheren</h1>
<!-- --------------------------------- -->
<!-- TOVOEGEN EN BEWERKEN VAN EEN TYPE -->
<!-- --------------------------------- -->
<div *ngIf="popupNewType" class="section">
  <div class="popup ">
    <button class="buttonremove" (click)="closePopups()"><i class="material-icons">
      clear
    </i></button>
    <h1 *ngIf="type.typeID == 0">Maak een nieuw type aan</h1>
    <h1 *ngIf="type.typeID != 0">Bewerken van een type</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="functie">Functie: </label>
        <input type="text" class="form-control" id="functie"
               placeholder="Vul een functie in"
               [(ngModel)]="type.functie" name="functie" required>
      </div>
      <br/>
      <button *ngIf="type.typeID == 0" type="submit" class="btn submitKnop ">Toevoegen</button>
      <button *ngIf="type.typeID != 0" type="submit" class="btn btn-primary submitKnop">Updaten</button>
      <button *ngIf="type.typeID != 0" (click)="closePopups()" class="btn btn-primary submitKnop">Annuleren</button>
    </form>
  </div>
</div>

<div class="section">
  <button class="buttonadd" (click)="OpenNewTypeForm()"><i class="material-icons ">
    add
  </i></button>

  <!-- ------------------------ -->
  <!-- OVERZICHT MET ALLE TYPES -->
  <!-- ------------------------ -->
  <div style="height: 430px; overflow: auto;">
    <table class="table" mat-table>
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Functie</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let type of types">
        <td scope="row">{{type.typeID}}</td>
        <td>{{type.functie}}</td>
        <td>

          <button type="button" class="" (click)="OpenEditTypeForm(type.typeID)"><i
            class="material-icons"> create
          </i></button>
          <button type="button" class="" (click)="deleteTypeAlert(type)"><i
            class="material-icons">
            delete_forever
          </i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




